.body {
    background-color: rgb(98, 151, 142);
}

.login-area {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.inputs {
    border-radius: 4px;
    border-style: ridge;
    height: 20px;
    margin-bottom: 10px;
    width: 250px;
}

.input-b {
    border-radius: 4px;
    border-style: ridge;
    height: 20px;
    margin-bottom: 10px;
}

.article {
    position: relative;
    background-color: rgb(58, 137, 151);
    width: 350px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 5px 5px 25px;
}

.texts {
    margin: 0px;
}

.main-header {
    position: relative;
    background-color: rgb(58, 137, 151);
    width: min-contents;
    text-align: center;
    border-radius: 3px;
    box-shadow: 5px 10px 35px;
    padding: 3px;
}

h1 {
    margin: 0px;
}